# Dependencies
node_modules/
*/node_modules/
**/node_modules/

# Environment variables & secrets (Never commit!)
.env
.env.*
*/.env
*/.env.*
**/.env
**/.env.*
!*.example

# Production builds
build/
dist/
*/build/
*/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
